/* styles.css */
.menu {
    display: inline-block;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Default text color */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Shadow effect */
}

.header {
    background-color: #343a40; /* Dark background */
    color: #ffffff; /* White text */
    padding: 20px;
    text-align: center;
}

.content {
    margin-top: 20px;
}

.footer {
    background-color: #343a40; /* Dark background */
    color: #ffffff; /* White text */
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;

}

.card {
    display: flex;
    margin: 20px 0;
}

.card-header {
    flex: 1;
    text-align: center;
}

.card_name {
    text-align: center;
}

.card-details {
    width: auto;
    flex: 2;
    padding: 0 20px;
    text-align: left;
    max-width: 300px; 
    /*word-wrap: break-word;*/
}
.insights {
    width: 30%;
    /*flex: 2;
    padding: 0 20px;
    text-align: right;
    max-width: 300px;*/
}
.card-image {
    flex: 1;
    max-width: 200px; /* Set maximum width for the image container */
}

.card-image img {
    max-width: 100%;
    max-height: 100%; /* Set maximum height for the image */
    height: auto;
}