<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
</head>
<body>
    <div class="header">
        {% include 'header.html' %}
        <h1>My Web App</h1>
        <p>Analytics Page</p>
    </div>
    <div class="container">
        <div class="content">
            <h2>Analytics</h2>
            <p>This is the Analytics Page.</p>
        </div>
    </div>
    <div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
