<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decklists</title>
</head>
<body>
    <div class="header">
    {% include 'header.html' %}
    <h1>Decklists</h1>
    <p>Welcome to the Decklists Page!</p>
    </div>
    <div class="container">
        <div class="content">
            <h2>Decklists</h2>
            <p>This is the Decklists Page.</p>
        </div>
    </div>
    <div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
