<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
    <div class="header">
        {% include 'header.html' %}
        <h1>Frequently Asked Questions</h1>

    </div>
    <div class="container">
        <div class="content">
            <h2>FAQ</h2>
            <p>Currently there are no frequently asked questions, because none was asked. :-) </p>
        </div>
    </div>
    <div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
