<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTGO data helper</title>
</head>
<body>
    <div class="header">
        <a class="menu" href="/">Home</a>
        <a class="menu" href="/random_card">Random Card</a>
        <a class="menu" href="/decklists">Decklists</a>
        <a class="menu" href="/analytics">Analytics</a>
        <a class="menu" href="/faq">FAQ</a>
        
        <!--<div class="menu">
            <fieldset>
                <label>
                  <input type="radio" name="color-scheme" id="color-scheme-light" value="0">
                  Light
                </label>
                <label>
                  <input type="radio" name="color-scheme" value="auto" checked>
                  Auto
                </label>
                <label>
                  <input type="radio" name="color-scheme" id="color-scheme-dark" value="1">
                  Dark
                </label>
              </fieldset>
        </div>-->
    </div>
